@keyframes animacja{
  0% { transform: scale(1);}
  50% { transform: scale(1.2)};
  100% { transform: scale(1);}
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #222;
  color:white;
  padding: 0;
  margin: 0;
}
#menubar{
  padding: 0;
  top:0;
  width:100%;
  background-color: #333;
}
div.text {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #D22;
  display: inline-block;
  text-transform: uppercase;
  font-size: 250%;
  border:2px solid #D22;
  box-sizing: border-box;
  height: 100%;
  margin-right: 15px;
}
div.menuoption{
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 220%;
  padding-left: 15px;
  padding-right: 15px;
}
div.menuoption:hover a{
  background-image: radial-gradient( #FF2, #D22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#hover a{
  background-image: radial-gradient( #FF2, #D22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

a{
  text-decoration: none;
  color:white;
}

div.banner{
  width: 100%;
  height: 20vh;
  background-color: red;
  background-image: url("../banner.jpg");
  background-size:contain;
}
aside{
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 7px 10px -4px #444;
}


div.items{
  width:100%;
  /*background-color: green;;*/
}

div.item{
  display: inline-block;
  float: left;
  border: 2px solid red;
  border-radius: 2px;
  box-sizing: border-box;
  width:40vh;
  border-radius: 20px;
  margin-left: calc( (100% - (3*40vh)) / 4 );
  margin-bottom: 10vh;
  height: 50vh;
  position: relative;
}
div.item img{
  width:75%;
  display: block;
  margin: 0 auto;
  margin-top: 4vh;
  border-radius: 20px;
  margin-bottom: 1vh;
}
div.item span{
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 3vh;
  margin-bottom: 1vh;
}
div.item button{
  display: block;
  margin: 0 auto;
  font-size: 3vh;
  padding: .5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border: none;
  background: none;
  color: white;
  margin-bottom: 1vh;
  border-radius: 20px;
  border: 2px solid red;
  cursor: pointer;
}
div.logowanie{
  float:right;
  margin-right: 0;
}
a.logowanie{
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #D22;
  text-transform: uppercase;
  font-size: 100%;
}

table.logowanie tr td:nth-child(even){
  padding-left: 10px;

}
input[type="button"]{
  color:red;
  background-color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px ;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 2vh;
  transition: .3s;
}
input[type="button"]:hover{
  color:black;
  font-size: 2.5vh;
  background-color: #DD0000;
}
div.form{
  border-radius: 20px;
  padding: 2vh;
  display: inline-block;
  border: 2px solid red;
  margin-left: 20px;
  width: 100%;
}

.form input[type="text"],.form input[type="password"]{
  transition: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  width: 9vw;

}
.form:last-child input[type="text"],.form input[type="password"]{

}
.logowanie {
  border-collapse:separate;
  border-spacing: 0 1em;
  font-size: 2vh;
}

#logowanie{
  display: none;
}
#wyloguj{
  display: none;
}
#userico{
  display: inline-block;
  background-color: white;
  height: 100%;
  background-image: url('../img/user.png');
  background-size:cover;
  background-position: center;
  float: right;
  margin-right: .7vh;
  margin-top: .7vh;
  border-radius: 20vh;
  transition: background .7s;
}
#userico:hover{
  background-color: red;

}
#usericohover{
  display: inline-block;
  background-color: red;
  height: 100%;
  background-image: url('../img/user.png');
  background-size:cover;
  background-position: center;
  float: right;
  margin-right: .7vh;
  margin-top: .7vh;
  border-radius: 20vh;
  transition: background .7s;
}


#baddata{
  display: none;
  margin-left:10px;
  color: red;
  font-size: 120%;
  line-height: 120%;
}
#shadow{
  position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      display: none;
}

h1{
  font-size: 3vh;
}
aside  p.editprofile{

  font-size: 2vh;
  padding: 10px;
  margin-right: 20px;
  float: right;
  border-radius: 10px;

  transition: .2s;
}
aside  p.editprofile:hover{
  font-size: 2.5vh;

  cursor: pointer;
  background-color: #333;

}
#addofert{
  display: inline;
  border: 2px solid red;


}
#addofert:hover{
  border: 2px solid green;
    color:green;
}

#profileedit{
display: block;
border: 2px solid red;

}
#profileedit:hover{
  border: 2px solid green;
    color:green;
}
#profilesave{
  display: none;
  border: 2px solid green;
}
#profilesave:hover{
  border: 2px solid red;
    color:red;
}
#data{
  width:70vw;
  height: 70vh;
  background-color: rgb(245,245,245);
  margin-top:15vh;
  margin-left:15vw;
  border-radius: 20px;
}
#exit{
  float: right;
  margin-right: 1vW;
  margin-top: 1vh;
  font-size: 3vh;
  line-height: 3vh;
  color: red;
  width: 7%;
  cursor: pointer;
}
#divexit{
  width: 100%;
  height: 5vh;
}

#modal,#modal2{
height: calc( 100% - 10vh );
padding-left: 3vw;
padding-right: 3vw;

}
#gallery{
float: left;
width:65%;
height: 100%;
position: relative;
}



#gallery img{
width:100%;

}
.arrow{
  z-index: 3;
  color: red;
  position:absolute;
  top:calc( 50% - 5vh);
  display:inline-block;
  vertical-align: top;
  font-size: 10vh;
}
.arrow::selection{
  background-color: none;
}
.arrow:hover{
  color:rgb(200,20,60);
}
#right{
right:0;
}
#left{
  float: left;
}


#desc,#desc2{
  margin-left: 5%;
float: right;
width: 30%;
height: 100%;
border-radius: 10px 0 0 10px;
border-left: 2px solid black;
box-sizing: border-box;
color: black;
position: relative;
}
#desc > span:first-child,#desc2 span#title,#desc > p:first-child,#desc2 p#title{
margin-top: 2vh;
margin-left: 2vw;
font-size: 3vh;

}


#desc > hr,#desc2 hr{
  margin-left: 2vw;
  width: 80%;
  margin-bottom: 2vh;

}
#opis,#cena{
  font-size: 2vh;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

.malyopis{
  position: absolute;
  bottom:0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


#ids{
  font-size: 2vh;
  position: absolute;
  bottom:0;
  left: 0;
  margin-left: 2vw;
}
#tresc{
  font-size: 3vh;
  padding-top: 5vh;
  padding-left: 1vw;
  background-color: #222;
}
.userinfo{
  margin-bottom: 1vh;
  font-weight: bold;
  color:#F22;
  margin-left: 20px;
  font-size: 2vh;
}
.userinfo span{
  font-weight: normal;
  color:white;
}
.userinfo:last-of-type{
  font-size: 2.5vh;
  margin-bottom: 4vh;
}

#prof{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 20px 20px 0 0;
    box-shadow: inset 0 7px 10px -4px #444;
}

.editimg{
  float: left;
  height: 30%;
  margin-bottom: 2vh;
  margin-right: 1vh;
  border: 1px solid red;
  position: relative;

}
.editimg > img {
  opacity: 1;
  display: block;
  height: 100%;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.editimg > .img{
  opacity: 1;
  display: block;
  height: 100%;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width:232.5px;
  background: rgb(0,45,115);
background: linear-gradient(0deg, rgba(0,45,115,1) 0%, rgba(65,72,242,1) 20%, rgba(0,212,255,1) 50%, rgba(65,72,242,1) 80%, rgba(0,45,115,1) 100%);
}

.editimg:hover img{
  opacity: .2;
}

.editimg:hover .middle {
  opacity: 1;

  cursor: pointer;
}

.editimg .middle{
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;

}
.editimg:hover > .img > #divmiddle {
  opacity: 1;

  cursor: pointer;
}

#divmiddle {

  cursor: pointer;
}

#divmiddle{
  transition: .5s ease;
  text-align: center;
  position: absolute;
  top: 50%;
left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;

}


.dodajimg {
color:black;
font-size: 4vh;
transition: .4s;
}

.deleteimg {
color:black;
font-size: 4vh;
transition: .4s;
}
.editimg .middle:hover .deleteimg, #divmiddle:hover .dodajimg{
  color: red;
}

#modal2{
  width: 100%;
  box-sizing: border-box;
  /* background-color: red; */
}
#desc2{
  height: 100%;
  float: right;
  display: inline-block;
/* background-color: green; */

}
#gallery2{
  width: 65%;
  height: 100%;
  overflow-y: scroll;
  float: left;
  display: inline-block;
  padding-top: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
  box-sizing: border-box;
  border-radius: 2vh 2vh 0 0;
  border-top: solid .2vh rgba(0,0,0,.5);
}

#none{
  display: none;
}
#none > input{
  display: none;
}
/* width */
#gallery2::-webkit-scrollbar {
    width: .8vw;

    border-radius: 10px;
}

/* Track */
#gallery2::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 10px;
}

/* Handle */
#gallery2::-webkit-scrollbar-thumb {
    background: #CF2222;

    border-radius: 10px;
}

/* Handle on hover */
#gallery2::-webkit-scrollbar-thumb:hover {
    background: #AF2222;
}
.editicon{
  height: 1.75vh;
  margin-left: 1vw;
  border-radius:2vh;
  padding: 3px;
  transform: translateY(.5vh);
  transition: background .4s ease;
}
.editicon:hover{
  background-color: rgba(25,50,240,.5);

}


.saveicon{
display:none;
float: right;
  height: 1.75vh;
  margin-left: 1vw;
  padding: 3px;
  transform: translateY(.5vh);
  transition: background .4s ease;
}
.saveicon:hover{
  background-color: rgba(150,150,200,.5);

}
#trashicon{
  float: left;
  height: 3vh;
  margin-top: 1vh;
  margin-left: 2.5vw;
  padding: 3px;
  transition: .3s;
  cursor:pointer;
}
#trashicon:hover{
  background-color: rgba(255,50,50,.8);
  border-radius: 50%;
}

#inputcena{
  width:50%;
}
#exit2{
  float: right;
  margin-right: 1vW;
  margin-top: 1vh;
  font-size: 3vh;
  line-height: 3vh;
  cursor: pointer;
  color: red;
}
#iconsave{
float: left;
margin-top: .8vh;
font-size: 3vh;
line-height: 3vh;
cursor: pointer;

}
#divexit > div{
  width:8vw;
  float: right;
}

#exit > img{
  width:3vh;
  float: left;
  margin-right: 1px;
  transition: .5s;
}
#exit > img:hover{
width: 4vh;
}
#iks{
  float: right;
}
#shadow2{
  background-color: rgba(0,0,0,.7);
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
}
#alertdelete{
  position: fixed;
  background-color: white;
  border-radius: 10px;
  width:50%;
  height: 50%;
  transform: translate(+50%, +50%);
  -ms-transform: translate(+50%, +50%);

}
#alertdelete > p:first-child{
  width: 100%;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
  font-size: 5vh;
  font-weight: 600;
}
#alertdelete > p:nth-child(2){
  margin-left: 2vw;
  font-size: 4vh;
}

.buttondelete{
  font-size: 3vh;

  border-radius: 2vh;
  padding: 1.5vh;
}
#anulujdelete{
  background-color: #C6E2FF;
  border: .25vh solid #499DF5;
  float: left;
}
#akceptujdelete{
  background-color: #F08080;
  border: .25vh solid #CC3232;
  float: right;
}
#anulujdelete:hover{
  background-color: #499DF5;
}
#akceptujdelete:hover{
  background-color: #CC3232;
}
#divbutton{
  width:12.5vw;
  margin: 0 auto;
  margin-top: 10vh;
}

#opisedit{
width:80%;
height:30vh;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {

}



/* #l1{
background-color: blue;
height: 5vh;
}
#l2{} */
#l1{
  float: left;
  height: 18vh;
  margin-bottom: 2vh;
  margin-right: 1vh;
  border: 1px solid red;
  position: relative;

}

#l1 > #l2{
  opacity: 1;
  display: block;
  height: 100%;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width:232.5px;
  background: rgb(0,45,115);
background: linear-gradient(0deg, rgba(0,45,115,1) 0%, rgba(65,72,242,1) 20%, rgba(0,212,255,1) 50%, rgba(65,72,242,1) 80%, rgba(0,45,115,1) 100%);
}





#l1:hover > #l2 > #l3 {
  opacity: 1;

  cursor: pointer;
}

#l3 {

  cursor: pointer;
}

#l3{
  transition: .5s ease;
  text-align: center;
  position: absolute;
  top: 50%;
left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;

}


#l4 {
color:black;
font-size: 3vh;
transition: .4s;
}


#l3:hover #l4{
  color: red;
}

div.center{
  height: auto;
  width: 30vw;
  margin:0 auto;

}
div.center h1{
  padding-top: 4vh;
  width: 100%;
  text-align: center;
}
div.center #zar{
  padding-top: 8vh;
}

div.center .form{
  margin-left: 0;
  margin-top: 2vh;
  width: 100%;
  box-sizing:border-box
}

.form td span{
  margin-left: 0.3vw;
  color: red;
  display: none;
}
table.logowanie{
width: 100%;

}

.form2 table.logowanie input{
  box-sizing: border-box;
width: 18vw;
}

.form2 table.logowanie tr td:nth-child(2n){
  text-align: left;
  width:50%;
}
.form2 table.logowanie tr td:nth-child(2n+1){
  text-align: right;
  width:50%;

}
#modal3{
  background-color: white;
  width:50%;
  height: 30%;
  margin: 0 auto;
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 20px;
}
#error_tresc{
  font-size: 3vh;
  position: absolute;
  position: absolute;
  width:100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#prof{
  padding: 2vh;
}

.sh{
  background-color: rgba(0,0,0,.8);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
}
.sh > div{
  background-color: white;
  border-radius: 2vh;
  width:50%;
  height: 20%;
  color: black;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.sh div p{
font-size: 2vh;
width: 100%;
text-align: center;
margin-top: 5vh;
}
.sh > div > div:last-child{
  width: 40%;
  margin-top: 3vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.button{
border-radius: 1vh;
font-size: 2vh;
font-weight: bolder;
width:auto;
text-align: center;
cursor: pointer;

}
#accept{
  float: left;
  display: inline-block;
  border: .18vh solid #F11;
background-image: radial-gradient(circle, #ffbbbb, #ff9a97, #ff776f, #ff5045, #ff1111);
  color:#000;
  overflow: hidden;
}
#accept > p{
  height: 100%;
  width: auto;
  margin:0;
  padding: 1vh;
  background-color: rgba(255,187,187,1);
  transition: .3s background;
}
#accept:hover > p{
background-color: rgba(255,187,187,0);
}
#decline{
  padding: 1vh;
  float:right;
  display: inline-block;
  border: .18vh solid #D44;
  background-color: #CCC;
  color:#A55;

}
#ofertaadd{
  margin-left: 1vw;
  border-radius: 2vh;
  padding: 2vh;
  border: .2vh solid red;
  width: 30vw;
}

#ofertaddtable {
  border-collapse: separate;
  border-spacing: .5vw 1vh;
  font-size: 2vh;
  vertical-align: middle;

}
#ofertaddtable tr td:nth-child(2){
  width: 100%;
}

#ofertaddtable tr td:nth-child(3){
  text-align: left;
  color:red;
  font-size: 1.7vh;
  line-height: 2vh;

}
#ofertaddtable input[type='text'],#ofertaddtable input[type='number'],#ofertaddtable textarea{
  width: 95%;
}
#ofertaddtable textarea{
  height: 5vh;
}

#ofertaddtable tr:nth-child(4){
height: auto;
padding: 0;
}
#nextstep{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2vh;
  font-weight: bolder;
  border: 2px solid red;
}
.adderr{
  opacity: 0;
  transition: .3s;
  line-height: 150%;
}
#map{
  margin-top: 4vw;
  margin-left: 4vw;
  width:40vw;
  height: 50vh;
  border-radius: 2vw;
  border: 2px solid  black;
}
#kontaktdiv{
  float: right;
  width: 45%;
  height: 50vh;
  margin-top: 4vw;
  border-radius: 2vw 0 0 2vw;
  border-left: 2px solid red;
  padding-left: 2vw;
  box-sizing: border-box;
}
#kontaktdiv p{
  font-size: 2vh;
  margin-bottom: 1vh;
}
#kontaktdiv p:first-child{
  font-size: 3vh;
  padding-top: 2vh;
  width: 10vw;
  display: inline-block;
  border-bottom: 1px solid red;
  margin-bottom: 2vh;

}
#itemimg{
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%,-50%);

}
